<!-- Film Detay Modal -->
<div id="movieDetailModal" class="detail-modal">
  <div class="detail-modal-content">
    <button id="closeDetailModal" class="detail-close-btn">X</button>
    <div class="detail-modal-body">
      <div class="detail-image">
        <img id="detailPoster" src="" alt="Movie Poster" />
      </div>
      <div class="detail-info">
        <h2 id="detailTitle"></h2>
        <p><strong>Vote / Votes:</strong> <span id="detailVotes"></span></p>
        <p><strong>Popularity:</strong> <span id="detailPopularity"></span></p>
        <p><strong>Genre:</strong> <span id="detailGenres"></span></p>
        <p><strong>About:</strong></p>
        <p id="detailOverview"></p>
        <button class="add-library-btn">Add to my library</button>
      </div>
    </div>
  </div>
</div>
