.upcoming-section {
  margin-left: 32px;
  margin-right: 37px;
  margin-top: 60px;
}

.upcoming-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.upcoming-container-header {
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  margin-bottom: 16px;
}

.film-card {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  color: white;
  gap: 20px;
  max-width: 1068px;
}

.upcom-img {
  width: 805px;
  height: 458px;
  object-fit: cover;
  border-radius: 8px;
}

.upcom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
  max-width: 400px;
}

.upcom h2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}

.upcom p {
  margin: 6px 0;
}

.upcom p strong {
  font-weight: bold;
}

.upcom-about {
  max-width: 390px;
  height: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 10px;
}

.strong-about {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-library-btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s;
  border: 2px solid orange;
  color: #111;
  background-color: linear;
}
